*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    border: 2px solid #3a98f0;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.entete{
    position: relative;
    width: 100%;
    background-color: #3a98f0;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    height: 150px;
}
.corps{
    padding: 10px;
    padding-top: 80px;
    text-align: center;
}
.btn{
    background-color: #3a98f0;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 25px;
    width: 50%;
    font-size: 18px;
    margin: 10px;
}
.corps p{
    margin: 10px;
}
.entete img{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 15px solid #3a98f0;
    border-radius: 50%;
    margin: 10px;
    left: 40px;
    top: 20px;
 
}
.reseau{
    color: #3a98f0;
}
.reseau i{
    margin:7px;
    font-size: 23px;
}