*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
img{
    width: 70%;
}
.btn{
    position: absolute;
    border: none;
    background-color: white;
    font-size: 15px;
    left: 50px;
    bottom: -30px;
}
p{
    text-align: center;
    margin: 10px;
}