*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(solitude-dans-climat-aride-homme-marchant-dune-sable-generee-par-ia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 600px;
    background-color: rgba(255, 255, 255, 0.336);
    padding: 5px;
    border-radius: 20px;
}
.profil{
    height: 150px;
    width: 150px;
    border: 5px solid #3ac0e9ef;
    border-radius: 50%;
    margin-right: 20px;
    padding: 1px;
}
.statut{
    margin: 5px;
    color: #30c3f0ef;
}
.bgentete{
    background-color: #24c0f0ef;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.entete{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #020a7e;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.boite{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    gap: 10px;
}
.info{
    background-color: #020a7e;
    color: white;
    padding: 20px;
    grid-row: 1;
    border-radius: 10px;
}
.formation{
    background-color: #020a7e;
    color: white;
    padding: 20px;
    grid-row: 1/3;
    border-radius: 10px;
}
.skill{
    background-color: #020a7e;
    color: white;
    padding: 20px;
    grid-row: 2/4;
    border-radius: 10px;
    height: 100%;
}
.hobbies{
    background-color: #020a7e;
    color: white;
    padding: 20px;
    grid-row: 3;
    border-radius: 10px;
}
.info i{
    margin: 10px;
}
.formation p{
    margin: 10px;
}
.skill div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.skill div>span{
    margin: 7px;
}
.skill div>span i{
    font-size: 25px;
    margin-right: 20px;
}
.skilll{
    display: flex;
    align-items: center;
}
.cont{
    background-color: #24c0f0ef;
    width:200px;
    height: 10px;
    border-radius: 10px;
    padding: 0px !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.contt{
    background-color: rgb(248, 247, 247);
    margin: 0px;
    width: 150px;
    padding: 5px !important;
    height: 8px;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.html{
    width: 190px;
}
.css{
    width: 180px;
}
.js{
    width: 170px;
}
.hob{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hob i{
    font-size: 30px;
}
.hh{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titre{
    font-size: 23px;
    margin-bottom: 15px;
    color: #24c0f0ef;
}
.cot{
    background-color: #24c0f0ef;
    padding: 0px;
    padding-left: 5px;
}
.col{
    color: #24c0f0ef;
}
@media screen and (max-width:425px) {
    body{height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(solitude-dans-climat-aride-homme-marchant-dune-sable-generee-par-ia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 50px;
    }
    .entete{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #020a7e;
        border-radius: 10px;
        padding: 20px;
        color: white;
    }
    .container{
        margin-top: 190px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.336);
        padding: 5px;
        border-radius: 20px;
    }
    .boite{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px,auto);
        gap: 10px;
    }
    .profil{
        height: 100px;
        width: 100px;
        border: 5px solid #3ac0e9ef;
        border-radius: 50%;
        margin-right: 20px;
        padding: 1px;
    }
    .col{
        font-size: 23px;
    }
    .statut{
        text-align: center;
    }
}