*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
}
img{
    margin-top: 20px;
    width: 100%;
}
.boite{
    margin: 10px;
}
.boi{
    width: 75%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.caisse{
    width: 70%;
    display: flex;
    justify-content:space-between;
}
.caisse>span{
  background-color: rgba(22, 96, 243, 0.795);
  padding: 3px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius:7px;
  margin: 3px;
  font-size: 12px;
  margin-bottom: 10px;
}
h2{
    margin-bottom: 15px;
}
.col.blue{
    background-color:blue;
    border: 2px solid black;
}
.col.yellow{
    background-color:rgb(255, 208, 0);
}
.col.red{
    background-color:red;
}
.col.violet{
    background-color: purple;
}
.col.vert{
    background-color:green;
}
.prix{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.etoil{
    color: rgb(255, 230, 0);
}
.contbtn{
    display: flex;justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px;
    margin: 20px;
    background-color: rgb(0, 204, 255);
    border: none;
    border-radius: 10px;
    width: 150px;
}
.signature{
    color: rgba(182, 179, 179, 0.759);
    font-size: 12px;
    padding: 80px;

}
.six{
    color:red;
    font-size:18px;
    font-weight: 500;
    text-decoration:line-through;
    margin-right: 15px;
}
.cinq{
    color: rgb(33, 209, 30);
    font-size:18px;
    font-weight: 500;
}