*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.label{
    padding: 20px;
}
.container{
    width: 600px;
}
.fa-check{
    color: white;
    position: absolute;
    left: 8px;
    top: 9px;
    font-size: 16px;
}
.fa-certificate{
    position: relative;
    color: #2222f1;
    font-size: 30px;
}
.fa-ellipsis{
    font-size: 30px;
}
.point{
    font-size: 30px;
}
.notif{
    padding-left: 20px;
    font-size: 25px;
    color: #2222f1;
}
.img img{
    width: 100%;
}
.pied{
    font-size: 20px;
    padding: 10px 20px;
    color: gray;
}
.commentaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-circle{
    position: relative;
    color: #2222f1;
    font-size: 30px;
}
.aime{
    color: white;
    position: absolute;
    left: 7px;
    top: 6px;
    font-size: 16px;
}
.icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}
hr{
    margin: 20px;
    border: 1px solid rgb(223, 221, 221);
}
.aimee{
    color: #2222f1;
}
/* commentaire */
/* commentaire */
/* commentaire */
/* commentaire */
/* commentaire */
/* commentaire */
/* commentaire */