*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    background-color: #08214de7;
    border: 1x solid gray;
    border-radius: 15px;
    width: 700px;
    padding: 10px;
}
.sidbar{
    /* height: 200px; */
    width: 260px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 10px;
}
.contenue{
    padding: 20px;
    width: 80%;
 /*    background-color: #08214de7; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.label{
    margin-left: 20px;
}
.profil{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.identif{
    display: flex;
}
.trait{
    width: 100%;
    margin-top: 10px;
}
ul {
    list-style: none;
    margin: 10px 40px;
}
h3{
    margin: 15px;
}
.bboite{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.boite{
    height: 35px;
    padding: 7px;
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    width: 80%;
}
.entrer{
    border: none;
    width: 80%;
    padding: 5px;
    outline: none;
}
.plus{
    height: 35px;
    width:35px;
    background-color: white; 
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.ico{
    color: rgb(78, 75, 75);
    margin-right: 10px;
}
.titree{
    margin-top: 15px;
    margin-bottom: 30px;
    color: white;
}
.caisse{
    background-color: white;
    height: 30px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    width: 95%;
    margin-right: 10px;
}
.descript{
    width: 60%;
    margin-left: 15px;
}
.temps{
    width: 70px;
    font-size: 14px;
}
.boitee{
    margin: 10px;
    display: flex;
}
.btn{
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.icoo{
    color: rgb(241, 245, 245);
}
.icooo{
    margin-left: 20px;
}
.blue{
    color: rgb(52, 52, 245);
    margin-right: 7px;
}
.green{
    color: rgb(7, 228, 7);
    margin-right: 7px;
}
.aqua{
    color: rgb(9, 218, 218);
    margin-right: 7px;
}
.gray{
    color: rgb(172, 179, 179);
    margin-right: 7px;
}
.alarm{
    margin-right: 6px;
    color: #444444;
}
.calendrier{
    margin-right: 10px;
    color: #444444;
}